version: "3.5"
services:
 dupstreamkiller:
    build: .
    container_name: dupstreamkiller
    restart: always
    volumes:
      - ./dupstreamkiller:/data
    environment:
      LOOP_DELAY_SECONDS: 10
      MAX_UNIQUE_STREAMS: 1
      BAN_LENGTH_HRS: 48
      BAN_MSG: YOU HAVE BEEN BANNED FROM PLEX FOR 48 HOURS FOR ACCOUNT SHARING. Please ask @AdminNameHere if you have any questions. This is an automated message.
      WHITELIST:
      PLEX_URL: http://127.0.0.1:10400
      PLEX_TOKEN: ** Plex Token - https://bit.ly/34FeMCo **
      TELEGRAM_BOT_KEY: ** Telegram Bot Key - https://bit.ly/33GhZjV **
      TELEGRAM_CHAT_ID: ** Telegram Group ID - https://bit.ly/374CPeN **