[main]
loop_delay_seconds: ${LOOP_DELAY_SECONDS}
plex_url: ${PLEX_URL}
plex_token: ${PLEX_TOKEN}
ban_length_hrs: ${BAN_LENGTH_HRS}
ban_msg: ${BAN_MSG}
whitelist: ${WHITELIST}
max_unique_streams: ${MAX_UNIQUE_STREAMS}

[telegram]
bot_key: ${TELEGRAM_BOT_KEY}
chat_id: ${TELEGRAM_CHAT_ID}
